body {
  background-color: lightblue;
}

table {
  background-color: lightpink;
}

#nav{
  background-color: blue;
  height: 100px;
  width: 500px;
  margin-left: 30px
}

#md{
  background-color: red;
}

#footer{
  background-color: black;
  height:100px;
}
.table1{
  background-color: #005050;
  border: solid;
}

.table1{
  background-color: #005050;
  border: solid;
}

.tab1h {
  border: solid;
  border-color: red;
  width:300px;
  height: 100px;
}

h1{
  color: red;
  height: 200px;
  background-color: grey;
  /*padding-left: 60px;
  padding-top: 100px;
  padding-bottom: 300px;*/
  margin-left: 60px;
  margin-top: 10px;
  margin-bottom: 30px;
}

td{
  border: solid;
}

#tab1d1 {
  color: maroon;
  background-color: white;
  height: 100px;
}

#tab1d2 {
  background-color: blue;
}
