body {
  background-image: url("https://www.pngarts.com/files/6/Confetti-Transparent-Background-PNG.png");
}

#conatiner{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#card-element {
  width: 100px
  height: 50px
}
